
body {
   margin: 0px;
}

.fullgrid {
   display: grid;
   grid-template-rows:  auto auto 1fr auto auto auto;
}

header {
   grid-row: 1/2;
   background-color: #f1ffab;
   box-shadow: 0 0 8px 3px grey;
   height: 70px;
   display: flex !important;
   justify-content: space-between;
   padding-left: 3%; padding-right: 3%;
   align-items: center;
}

.logo-image {
   margin-top: 20px;
   height: 100px;
   width: 90px;
}

h1 {
   font-family: 'Modak', cursive;
   text-align: center;
   margin-left: -50px;
}

h2 {
   font-family: 'Modak', cursive;
   text-align: center;
   color: #E86100;
   letter-spacing: 2px;
   margin: 2rem;
   grid-row:2/3;
   padding: 4%;
}

h3 {
   font-family: 'Comfortaa', cursive;
   text-align: center !important;
   color: #000000;
   letter-spacing: 4px;
   grid-row: 4/5;
   background-color: aquamarine;
}
  
.recipezone{
   grid-row:3/4;
   display:flex;
   flex: 1 1 10rem;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
    
}

.factheading{
   grid-gap: 2 rem;
   grid-row: 4/5;
   font-family: 'Comfortaa', cursive;
   font-size: 3rem;
   text-align: center;
   height:12%;
   margin-top: 2%
} 
  
.facts{
   grid-row: 5/6;
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   flex: 1 1 10rem;
   flex-wrap: wrap;
   gap: 1rem;
}

.text {
   
   grid-row: 3/4;
}

p{
   font-family: 'Comfortaa', cursive;
   margin: 2rem;
}

img{
   position: center;
}

.card {
   width: 35%;
   height:auto;
   padding: 1%;
   border-style: solid;
   box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.50);
   clip-path: inset(-0.5px -0.5px -16px -0.5px);
   transition:  background 0.5s !important;
}

.card:hover {
      cursor: pointer;
      
      background: rgb(222, 255, 190) !important;
   }

   .btn-primary {
      background-color: #fbd341 !important;
      color: black !important;
      border: 0 !important;
      border-radius: 50% !important;
      font-family: 'Comfortaa', cursive !important;
      font-size: smaller !important;}

.buy{padding:1%}

.card-title {
    font-family: 'Comfortaa', cursive;
    font-size: large !important;
    color:#000000 !important;
}


.instructions{margin: 1%}

  
h4 {
   font-family: 'Comfortaa', cursive;
   text-align: center;
}


.footer {
   grid-row: 6/7;
   background-color: #fbd341;
   height: 100px;
   display: flex;
   margin-top: 2rem;
}
  
 .footertext {
    margin-top: 25px;
    margin-left: 10px;
    font-family: 'Comfortaa', cursive;
 }
  
.orangebutton {
   background-color: #fb9a40;
   height: 50px;
   border-radius: 5px;
   position: absolute;
   right: 5%;
   margin-top: 25px;
   font-family: 'Comfortaa', cursive;
}
  
 /* HAMBURGER MENU W3SCHOOLS */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #F1FFAB;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
 }
  
 .nav-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  
 .nav-logo {
    max-height: 200px;
    max-width: 200px;
 }
  
 /* The navigation menu links */
 .nav-item {
   padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: 'Comfortaa', cursive;
 }
  
 .website-name {
    font-family: 'Modak', cursive;
    font-size: 3em;
 }
  
 /* When you mouse over the navigation links, change their color */
 .sidenav a:hover {
   color: #E86100;}
  
 /* Position and style the close button (top right corner) */
 .closebtn {
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 48px;
    margin-left: 50px;
 }
  
 .burger {
    display: block;
 }
  
 img {
    display: block;
    width: 100%;
 }
     