/* Shaina Patel */


body {
    margin: 0;
}

h1 {
    font-family: 'Modak', cursive;
    text-align: center;
    margin-left: -50px;
    font-weight: normal;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

h4 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.bulkbuygrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 3fr 3fr 3fr;
    grid-gap: 10px;
}

.header {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #f1ffab;
    height: 70px;
    box-shadow: 0 0 8px 3px grey;
    display: flex;
    justify-content: space-between;
    padding-left: 3%; padding-right: 3%;
    align-items: center;
}

.logo-image {
    margin-top: 20px;
    height: 100px;
    width: 90px;
}

.heading {
    font-family: 'Modak', cursive;
    font-size: 26pt;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    color: #E86100;
}

.imageone {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(img/ultimatefruit.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-left: 10px;
    height: auto;
    max-width: 100%;
    }

.imagetwo {
    grid-column: 1/2;
    grid-row: 4/5;
    background-image: url(img/tropicalfruit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-left: 10px;
    height: auto;
    max-width: 100%;
}

.imagethree {
    grid-column: 1/2;
    grid-row: 5/6;
    background-image: url(img/mysterybox.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
    max-width: 100%;
    margin-bottom: 10px;
}

.textone {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 30px;
    display: block;
}

.texttwo {
    grid-column: 2/3;
    grid-row: 4/5;
    margin-top: 30px;
}

.textthree {
    grid-column: 2/3;
    grid-row: 5/6;
    margin-top: 30px;
}

.orangebutton {
    background-color: #fb9a40;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    right: 5%;
    margin-top: 25px;
    font-family: 'Comfortaa', cursive;
}

.buttoncontainer {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.buttoncontainer button:hover {
    background-color: #E86100;
}

.yellowbutton {
    background-color:#fbd341;
    height: 50px;
    margin-top: 25px;
    border-radius: 50%;
    width: 100px;
    align-items: center;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}

.footer {
    background-color: #fbd341;
    height: 100px;
    display: flex;
}

.footertext {
    margin-top: 25px;
    margin-left: 10px;
    font-family: 'Comfortaa', cursive;
}

/* HAMBURGER MENU W3SCHOOLS */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #F1FFAB;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.nav-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    max-height: 200px;
    max-width: 200px;
}

/* The navigation menu links */
.nav-item {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: 'Comfortaa', cursive;
}

.website-name {
    font-family: 'Modak', cursive;
    font-size: 3em;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #E86100;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 48px;
    margin-left: 50px;
}

.burger {
    display: block;
}
/* END OF BURGER */