/* Jiaying Li */
body {
    margin: 0;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    height: 100vh;
}

.page-title {
    color: rgba(232, 97, 0, 1);
    font-family: 'Modak', cursive;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2.5em;
    margin-left: auto;
    font-weight: normal;
}

p {
    font-family: 'Comfortaa', cursive;
    font-size: 1.1em;
}

header {
    grid-row: 1/2;
}

header > h1 {
    color: black;
    /* margin-left: auto; */
}

main {
    grid-row: 2/3;
    padding-left: 10%; padding-right: 10%;
}

footer {
    grid-row: 3/4;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container > a {
    text-decoration: none;
    color: black;
}

.green-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f1ffab;
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    border-radius: 5px;
    min-height: 50px;
    min-width: 200px;
    transition: 0.3s;
    margin-bottom: 20%;
}

.green-button:hover {
    box-shadow: 5px 5px 3px gray;
}

.orange-button {
    background-color: #fb9a40;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    right: 5%;
    margin-top: 25px;
}

/* FORM STYLES */
form {
    border: none;
    font-family: 'Comfortaa', cursive;
    font-size: 1.1em;
}

.form-text {
    text-align: center;
}

fieldset {
    border: none;
}

legend {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 2%;
}

label {
    display: block;
    margin-bottom: 1%;
}

input {
    width: 97%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: #ECECEC;
    border: 1px solid gray;
}


/* MEDIA QUERY */
@media screen and (min-width: 1000px) {

    p {
        font-size: 1.3em;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .personal {
        grid-column: 1/2;
    }

    .business {
        grid-column: 2/3;
    }

}